body{
}
/* menu */
.menu-item, .menu-open-button {
background: #b8b8b8;
border-radius: 100%;
width: 40px;
height: 40px;
margin-left: -40px;
position: absolute;
top: 20px;
color: white;
text-align: center;
line-height: 80px;
-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
transition: -webkit-transform ease-out 200ms;
transition: transform ease-out 200ms;
transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
display: none;
}

.hamburger {
width: 20px;
height: 3px;
background: white;
display: block;
position: absolute;
top: 50%;
left: 50%;
margin-left: -10px;
margin-top: -1px;
transition: -webkit-transform 200ms;
transition: transform 200ms;
transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1{
-webkit-transform: translate3d(0, -8px, 0);
		transform: translate3d(0, -8px, 0);
}

.hamburger-2{
-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
}

.hamburger-3{
-webkit-transform: translate3d(0, 8px, 0);
		transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1{
-webkit-transform: translate3d(0, 0, 0) rotate(45deg);
		transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2{
-webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
		transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3{
-webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
		transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
display: none;
position: fixed;
left: 60px;
margin-left: -80px;
padding-top: 20px;
padding-left: 80px;
width: 650px;
height: 150px;
box-sizing: border-box;
font-size: 20px;
text-align: left;
z-index: 1000;
}

.menu-item:nth-child(3) {
transition-duration: 180ms;
}
.menu-item:nth-child(4) {
transition-duration: 180ms;
}
.menu-item:nth-child(5) {
transition-duration: 180ms;
}
.menu-open-button{
z-index: 100;
transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
transition-duration: 400ms;
-webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
		transform: scale(1.1, 1.1) translate3d(0, 0, 0);
cursor: pointer;
}

.menu-open-button:hover{
-webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
		transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
transition-timing-function: linear;
transition-duration: 200ms;
-webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
		transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
transition-duration: 190ms;
-webkit-transform: translate3d(60px, 0, 0);
		transform: translate3d(60px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
transition-duration: 290ms;
-webkit-transform: translate3d(120px, 0, 0);
		transform: translate3d(120px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
transition-duration: 390ms;
-webkit-transform: translate3d(180px, 0, 0);
		transform: translate3d(180px, 0, 0);
}
/* menu-image */
.menu .mhome{
	display: block;
	width: 24px;
	height: 24px;
	margin: 7px auto;
	background: url(../images/mhome.png) no-repeat 0 0;
}
.menu .mskill{
	display: block;
	width: 24px;
	height: 24px;
	margin: 7px auto;
	background: url(../images/mskill.png) no-repeat 0 0;
}
.menu .mport{
	display: block;
	width: 24px;
	height: 24px;
	margin: 7px auto;
	background: url(../images/mweb.png) no-repeat 0 0;
}
/* nav-header */
nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	z-index:100;
}
.navigation{
	position: absolute;
	top: 17px;
	right: 0;
}
.navigation li{
	float: left;
}
.navigation li:hover a{
	cursor: pointer;
	color: #ccc;
	text-decoration: underline;
}
.navigation .active{
	cursor: pointer;
	text-decoration: underline;
}
.navigation li a{
	padding-right: 35px;
	font-size: 25px;
	color: #6e6e6e;
	font-weight: 600;
	font-family: 'Caviar Dreams';
}
/* Main Contents */
main{
	width:100%;
	height:100%;
}
/* main - text:animation */
.focus-in-contract {
	-webkit-animation: focus-in-contract 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	/* animation-iteration-count: infinite; */
}

 @-webkit-keyframes focus-in-contract {
	0% {
	  letter-spacing: 1em;
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes focus-in-contract {
	0% {
	  letter-spacing: 1em;
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
}
.text-focus-in {
	-webkit-animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
				filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
	}
	@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
				filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
}
/* section default */
.section{
	position:relative;
	height: 980px;
	min-height:980px!important;
}
.section::after{
	content:"";
	display:block;
	clear:both;
}

/* fullpage scroll */
.section .fp-scroller{
	width: 100%;
	min-height: 985px;
}
/* home */
.home .titbox{
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	margin:0 auto;
	transform:translateY(-50%);
}
.home h1{
	text-align: center;
	font-size: 80px;
	color: #535353;
	font-weight: 600;
	font-family: 'Caviar Dreams';
}
.home p{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	color: #a9a9a9;
	line-height: 1;
	font-family: 'Caviar Dreams';
}
/* main - skill */
.skill{
	position: relative;
	padding-right: 40%;
}
.skillbox{
	height: 980px;
	width: 100%;
}
.skillbox::after{
	content: "";
	display:table;
	width: 100%;
	clear: both;
}
/* 공통 */
.skillbox .item{
	float: left;
	text-align: center;
	width:33.33333333333333%;
	min-height:33.33333333333333%;
	max-width: 380px;
	border: 1px dotted #6e6e6e;
	border-top: 0;
}
.skillbox .item img{
	
}
.skillbox .item span{
	display: block;
	text-align: center;
	font-size: 50px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
.skillbox .item p{
	text-align: center;
	font-size: 23px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
.skillbox .item code{
	text-align: center;
	
}
.skillbox .item code em{
	display: block;
	text-align: center;
	font-size: 23px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
/* 개별 */
/* title */
.skillbox .item.title{
	position: relative;
	height: 66.65%;
	padding-top: 10%;
	border-right: 0;
}
.skillbox .item.title img{
	position: absolute;
	top: 50%;
	left: 50%;
	padding-top: 3%;
	transform: translate(-50%,-50%);
}
/* photoshop */
.skillbox .item.photoshop{
	position: relative;
	border-right: 0;
}
.skillbox .item.photoshop img{
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,-50%);
}
.skillbox .item.photoshop p{
	position: absolute;
	bottom: 35%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,100%);
}
/* illust */
.skillbox .item.illust{
	position: relative;
}
.skillbox .item.illust img{
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,-50%);
}
.skillbox .item.illust p{
	position: absolute;
	bottom: 35%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,100%);
}
/* html */
.skillbox .item.html{
	position: relative;
	border-right: 0;
}
.skillbox .item.html code{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/* css */
.skillbox .item.css{
	position: relative;
}
.skillbox .item.css code{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	transform: translate(-50%,-50%);
}
.skillbox .item.css em{
	text-align: left;
}
.skillbox .item.css .nbsp{
	padding-left: 10%;
}
/* jquery */
.skillbox .item.jquery{
	position: relative;
	border-right: 0;
	border-bottom: 0;
}
.skillbox .item.jquery img{
	position: absolute;
	top: 9%;
	right: 10%;
}
.skillbox .item.jquery code{
	position: absolute;
	top: 50%;
	left: 60%;
	width: 100%;
	transform: translate(-50%,-30%);
}
.skillbox .item.jquery em{
	text-align: left;
}
.skillbox .item.jquery .nbsp{
	margin-left: 7%;
}
.skillbox .item.jquery .nbsp2{
	margin-left: 11%;
}
/* js */
.skillbox .item.js{
	position: relative;
	border-right: 0;
	border-bottom: 0;
}
.skillbox .item.js span{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-100%);
	font-size: 40px;
}
.skillbox .item.js code{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,0);
}
/* russia */
.skillbox .item.russia{
	position: relative;
	border-bottom: 0;
}
.skillbox .item.russia img{
	position: absolute;
	top: 50%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,-70%);
}
.skillbox .item.russia p{
	position: absolute;
	bottom: 35%;
	left: 50%;
	padding-bottom: 3%;
	transform: translate(-50%,100%);
}
/* skill_list */
.skill_list{
	position: absolute;
	top: 3%;
	right: 0;
	width: 37%;
}
.skill_list li{
	padding-top: 4%;
	font-size: 25px;
	line-height: 1;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
.img_women{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 31%;
	/* opacity: 0; */
}
/* portfolio - top */
.portfolio{
	width: 100%;
}
.portfolio .tsection{
	position: relative;
	top: 15%;
	margin-left: 12%;
	padding-right: 40%;
}
.portfolio .img_owl{
	position: absolute;
	top: 0;
	left: 0;
	width: 15%;
	max-width: 250px;
}
.portfolio h2{
	width: 100%;
	margin-left: 30%;
	padding-top: 2%;
	padding-bottom: 1%;
	font-size: 50px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
.portfolio .tsection p{
	width: 100%;
	margin-left: 30%;
	line-height: 1;
	font-size: 25px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
/* portfolio - rolling */
.portfolio .slick-list{
	height: 100%;
}
.portfolio .slick-track{
	height: 100%;
}
.slickslide{
	width: 75%;
	height: 350px;
	margin: 0 auto;
	margin-top: 18%;
	/* margin-left: 12%; */
	text-align: center;
}
.slickslide .sitem{
	position:relative;
	display: table!important;
	float: left;
	width: 20%;
	height: 20%;
	min-height: 350px;
	margin:0 7px;
	padding: 8px;
	border: 1px solid #6e6e6e;
}
.slickslide .dotted_line{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	border: 1px dotted #6e6e6e;
}
.slickslide .dotted_line .title{
	font-size: 28px;
	color: #6e6e6e;
	font-family: 'SeoulNamsan';
}
.slickslide .dotted_line .url{
	padding-bottom: 8%;
	line-height: 15px;
	font-size: 21px;
	color: #6e6e6e;
	font-family: 'Caviar Dreams';
}
.slickslide .dotted_line .skills{
	line-height: 25px;
	font-size: 23px;
	color: #a9a9a9;
	font-family: 'Caviar Dreams';
}
/* 버튼 */
.slickslide .slick-prev:before, 
.slickslide .slick-next:before{
	color: #535353;
}

/* hover9 */
.hover9:before, .hover9:after, .hover9_label:before, .hover9_label:after{
	content: "";
	position: absolute;
	/* transition: all .2s ease-out; */
}
.hover9:before{
	transition: all .2s ease-out;
}
.hover9_label:after{
	transition: all .3s ease-out;
}
.hover9:after{
	transition: all .4s ease-out;
}
.hover9_label:before{
	transition: all .5s ease-out;
}

.hover9:before, .hover9:after{
	width: 0;
	height: 2px;
	background-color: #ff96b9;
}
.hover9:hover:before, .hover9:hover:after{
	width:100%;
}
.hover9:before{
	top: 0;
	left:0;
	/* transform: translate3d(-100%, 0, 0); */
}

.hover9:after{
	bottom: 0;
	right:0;
	/* transform: translate3d(100%, 0, 0); */
}

.hover9_label:before, .hover9_label:after{
	width: 2px;
	height: 0%;
	background-color: #ff96b9;
}
.hover9_label:hover:before, .hover9_label:hover:after{
	height: 100%;
}

.hover9_label:before{
	bottom:0;
	left: 0;
	/* transform: translate3d(0, 100%, 0); */
}

.hover9_label:after{
	top:0;
	right: 0;
	/* transform: translate3d(0, -100%, 0); */
	/* border: 1px solid #ff96b9; */
}
/* footer */
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #e6e6e6;
}
footer h2{
	padding: 7px;
	padding-left: 25px;
	font-size: 25px;
	color: #8b8687;
	font-family: 'Caviar Dreams';
}
footer .icons{
	position: absolute;
	top: 8px;
	right: 20px;
}
footer .icons a{
	margin-right: 10px;
}
footer .icons .facebook{
	display: inline-block;
	width: 33px;
	height: 33px;
	text-indent: -99999em;
	background: url(../images/facebook.png) no-repeat 0 0;
}
footer .icons .email{
	display: inline-block;
	width: 33px;
	height: 33px;
	text-indent: -99999em;
	background: url(../images/email.png) no-repeat 0 0;
}
footer .icons .tel{
	display: inline-block;
	width: 34px;
	height: 33px;
	text-indent: -99999em;
	background: url(../images/tel.png) no-repeat 0 0;
}
/* media-section2 */
@media (max-width:1320px){
	nav{
		display: none;
	}
	.menu{
		display: block;
	}
	.skill{
		padding: 0;
	}
	.skillbox{
		width: 100%;
	}
	.skillbox .item{
		max-width: 440px;
	}
	.skillbox .item.jquery code {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-35%,-30%);
	}
	.skill_list{
		display: none;
	}
	.img_women{
		display: none;
	}
}
@media (max-width:1024px){
	.skill_list{
		display: none;
	}
	.img_women{
		display: none;
	}
}
@media (max-width:980px){
	.skillbox .item img{
		max-width: 100%;
		height: auto;
	}
	.skillbox .item span{
		font-size: 40px;
	}
	.skillbox .item p{
		font-size: 18px;
	}
	.skillbox .item code em{
		font-size: 18px;
	}
}
@media (max-width:768px){
	.skill.section{
		position:relative;
		height: auto;
	}
	.skillbox .item{
		width: 50%;
		height: 20%;
		max-height: 196px;
		border: 0;
		border-bottom: 1px dotted #6e6e6e;
	}
	.skillbox .item:nth-child(even){
		border-right: 1px dotted #6e6e6e;
	}
	.skillbox .item.title{
		display: block;
		width: 100%;
		max-width: 768px;
		height: 20%;
	}
	.skillbox .item.title span{
		margin-top: -7%;
		font-size: 40px;
	}
	.skillbox .item p{
		font-size: 23px;
	}
	.skillbox .item code em{
		font-size: 23px;
	}
	.skillbox .item.russia{
		width: 100%;
		max-width: 768px;
		height: 20%;
		border-top: 1px dotted #6e6e6e;
		border-right: 0;
	}
}
@media (max-width:640px){
	.skillbox .item span{
		font-size: 40px;
	}
	.skillbox .item p{
		font-size: 17px;
	}
	.skillbox .item code em{
		font-size: 17px;
	}
}
@media (max-width:480px){
	.skillbox .item span{
		font-size: 40px;
	}
	.skillbox .item p{
		font-size: 17px;
	}
	.skillbox .item code em{
		font-size: 17px;
	}
	.skillbox .item.photoshop img{
		width: 30%;
		height: auto;
	}
	.skillbox .item.illust img{
		width: 30%;
		height: auto;
	}
	.skillbox .item.jquery img{
		width: auto;
		height: 23%;
		margin-top: 5%;
	}
}
@media (max-width:440px){
	.skillbox .item{
		min-height: 150px;
	}
	.skillbox .item.title img{
		width: 38%;
		margin-bottom: 5%;
	}
	.skillbox .item.title span{
		font-size: 28px;
	}
	.skillbox .item.jquery .nbsp2{
		display: none;
	}
	.skillbox .item.russia img{
		height: 68%;
		margin-top: 5%;
	}
	.skillbox .item.russia p{
		padding-top: 5%;
	}
}
@media (max-width:390px){
	.skillbox .item.jquery .nbsp{
		display: none;
	}
	.skillbox .item.jquery .nbsp2{
		display: none;
	}
}
/* media-section3 */
@media (max-width:1210px){
	.portfolio .tsection p{
		font-size: 21px;
	}
	.slickslide{
		margin-top:20%;
	}
}
@media (max-width:1040px){
	.portfolio .tsection .img_owl{
		position: absolute;
		top: 100%;
		left: 43%;
		width: 20%;
		transform: translateX(-50%);
	}
	.portfolio .tsection h2{
		margin-left: 28%;
		text-align: center;
		font-size: 40px;
	}
	.portfolio .tsection p{
		display: none;
	}
	.slickslide{
		margin-top:40%;
	}
}
@media (max-width:691px){
	.portfolio .tsection .img_owl{
		margin-top: 4%;
		width: 30%;
	}
	.portfolio .tsection h2{
		font-size: 40px;
	}
	.slickslide{
		margin-top:65%;
	}
	.slickslide .sitem{
		margin: 0;
	}
}
@media (max-width:490px){
	.slickslide{
		margin-top: 70%;
	}
}
@media (max-width:420px){
	.slickslide{
		margin-top: 75%;
	}
}
@media (max-width:370px){
	.portfolio .tsection h2{
		margin-left: 18%;
	}
	.slickslide{
		margin-top: 90%;
	}
	.slickslide .sitem{
		border: 0;
	}
}
@media (max-width:320px){
	.portfolio .tsection h2{
		margin-left: 8%;
	}
}

/* skill_list hover */
.skillbox div.item{
	cursor: pointer;
}
.skillbox div.item:hover{
	opacity: 0.5;
}
.skill_item:after{
	position: absolute;
	content: "";
	left:0;
	width: 0;
	margin-top:30px; 
	height: 2px;
	background-color: #ff96b9;
}
.skill_item.act:after{
	width: 150px;
	transition:0.5s all ease;
	-webkit-backface-visibility:hidden;
			backface-visibility:hidden;
}

.message{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.lt-ie9 .message,.ie9 .message{
	display: block;
}
.message div{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 50px;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	transform: translate(-50%,-50%);
}