/* Swiper 4.3.5 Style */
.swiper-demo{
	width:100%;
	height:500px;
}
.swiper-demo .swiper-container {
	width: 100%;
	height: 500px;
}
.swiper-demo .swiper-slide{
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 flex가 지원되지 않는 IE브라우저는 사용불가 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	text-align:center;
}
.swiper-demo .swiper-slide img{
	height:100%;
}
.swiper-demo .swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-demo .swiper-pagination-custom, .swiper-pagination-fraction{
	color:#fff;
	font-size:20px;
	font-weight:600;
}
.swiper-demo .swiper-container-horizontal>.swiper-pagination-bullets span, 
.swiper-demo .swiper-pagination-custom, .swiper-pagination-fraction span{
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
}
.swiper-demo .swiper-pagination-bullet {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #000;
	opacity: .5;
}
.swiper-demo .swiper-pagination-bullet-active {
	width:80px;
	border-radius:10px;
	background: #007aff;
	opacity: 1;
}