<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.4" authoringToolBuild="179">
    <title>서울시 전용서체 정체 2016</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="true"/>
    <background file="background" alignment="topleft" scaling="none"/>
    <welcome file="Welcome"/>
    <readme file="ReadMe"/>
    <license file="License"/>
    <conclusion language="ko" mime-type="text/rtf"><![CDATA[{\rtf1\ansi\ansicpg949\cocoartf1038\cocoasubrtf360
{\fonttbl\f0\fnil\fcharset129 AppleGothic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\ql\qnatural\pardirnatural

\f0\fs24 \cf0 \'bc\'ad\'bf\'ef\'bc\'ad\'c3\'bc \'bb\'e7\'bf\'eb\'bb\'f3 \'c1\'d6\'c0\'c7\'bb\'e7\'c7\'d7\
\
\'bc\'ad\'bf\'ef\'bc\'ad\'c3\'bc\'b4\'c2 \'b4\'a9\'b1\'b8\'b3\'aa \'b9\'ab\'b7\'e1\'b7\'ce \'b4\'d9\'bf\'ee\'b7\'ce\'b5\'e5 \'b9\'de\'be\'c6 \'c0\'da\'c0\'af\'b7\'d3\'b0\'d4 \'bb\'e7\'bf\'eb\'c7\'d2 \'bc\'f6 \'c0\'d6\'bd\'c0\'b4\'cf\'b4\'d9.\
\'bf\'b5\'bb\'f3\'b8\'c5\'c3\'bc, \'c0\'ce\'bc\'e2\'b8\'c5\'c3\'bc, \'c0\'a5, \'b8\'f0\'b9\'d9\'c0\'cf \'b5\'ee \'b4\'d9\'be\'e7\'c7\'d1 \'b8\'c5\'c3\'bc\'bf\'a1 \'c0\'da\'c0\'af\'b7\'d3\'b0\'d4 \'bb\'e7\'bf\'eb\'c0\'cc \
\'b0\'a1\'b4\'c9\'c7\'cf\'b8\'e7, \'c6\'af\'ba\'b0\'c7\'d1 \'c7\'e3\'b0\'a1 \'c0\'fd\'c2\'f7 \'be\'f8\'c0\'cc \'bb\'e7\'bf\'eb\'c7\'d2 \'bc\'f6 \'c0\'d6\'bd\'c0\'b4\'cf\'b4\'d9.\
\'b4\'d9\'b8\'b8, \'bc\'ad\'bf\'ef\'bc\'ad\'c3\'bc\'b8\'a6 \'c0\'af\'b7\'e1\'b7\'ce \'be\'e7\'b5\'b5\'c7\'cf\'b0\'c5\'b3\'aa \'c6\'c7\'b8\'c5\'c7\'cf\'b4\'c2 \'b5\'ee \
\'bb\'f3\'be\'f7\'c0\'fb \'c7\'e0\'c0\'a7\'b4\'c2 \'b1\'dd\'c1\'f6\'c7\'cf\'b0\'ed \'c0\'d6\'bd\'c0\'b4\'cf\'b4\'d9.\
\
\'bb\'e7\'bf\'eb\'bb\'f3\'c0\'c7 \'c0\'c7\'b9\'ae \'bb\'e7\'c7\'d7\'c0\'ba \'b0\'fc\'b8\'ae\'c0\'da\'bf\'a1\'b0\'d4 \'b9\'ae\'c0\'c7 \'b9\'d9\'b6\'f8\'b4\'cf\'b4\'d9.\
\'bc\'ad\'bf\'ef\'c6\'af\'ba\'b0\'bd\'c3 \
COPYRIGHT \'a8\'cf 2016 Seoul Metropolitan Government. All rights reserved. \
                         }]]></conclusion>
    <choices-outline>
        <line choice="choice513"/>
    </choices-outline>
    <choice id="choice513" title="Root">
        <pkg-ref id="typodesign.inc.서울시전용서체정체2016.Root.pkg"/>
    </choice>
    <pkg-ref id="typodesign.inc.서울시전용서체정체2016.Root.pkg" installKBytes="34660" version="1.0" auth="Root">file:./Contents/Packages/root.pkg</pkg-ref>
</installer-script>