html, body{
    height: 100%;
}
h1{
    text-align: center;
}
.navwrap{
    width: 435px;
    height: 1000px;
}
.navigation{
    float: left;
    width: 226px;
    height: 100%;
}
.navigation::after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
/* nav */
.nav{
    border-top: 1px solid #e8e8ec;
}
.alldep{
    box-shadow: 4px 1px 4px 0.5px rgba(0,0,0,0.1);
}
/* 1depth */
.alldep .dep1{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #f4f4f7;
}
.alldep .dep1 a{
    display: block;
    height: 48px;
    padding: 9px 0 8px 0;
    background: #f4f4f7;
    color: #000;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e8e8ec;
}
.alldep .dep1:hover .dep2{
    display: block;
}
.alldep .dep1 > a:hover{
    background: #ed4c4d;
    transition: all 0.4s;
}
/* 2depth */
.alldep .dep2{
    display: none;
    position: absolute;
    margin: -1px;
    width: 209px;
    height: 100%;
    top: 0;
    left: 226px;
    background: #f4f4f7;
    border-top: 1px solid #e8e8ec;
    z-index: 10;
}
.alldep .dep2 > li > a{
    display: block;
    height: 48px;
    padding: 12px 0 8px 0;
    color: #222;
    font-size: 16px;
    text-align: center;
    border-left: 1px solid #e8e8ec; 
    border-bottom: 1px solid #e8e8ec;
}
.alldep .dep2 > li > a:hover{
    background: #ed4c4d;
    transition: all 0.4s;
}
/* nav_bg */
.nav_bg{
    position: absolute;
    display: none;
    top: 0;
    width: 209px;
    height: 100%;
    left: 226px;
    background: #f4f4f7;
}
.navigation:hover .nav_bg{
    display: block;
    box-shadow: 4px 1px 4px 0.5px rgba(0,0,0,0.1);
}