.sectionwrap{
    width: 100%;
}
.grab{
    display: inline-block;
    float: left;
}
.grab::after{
    content: "";
    display: block;
    clear: both;
    width: 100%;
}
.grab > ul > li{
    display: inline-block;
}
.grab .home a strong{
    padding: 8px 5px 5px 18px;
    font-size: 14px;
    font-weight: normal;
}
.grab .home a strong::before{
    content: url(../images/home.png);
    display: inline-block;
    margin-right: 5px;
}
.grab .home a strong::after{
    content: url(../images/location_arrow.gif);
    display: inline-block;
    margin-left: 5px; 
}
.grab .drop a strong{
    font-size: 14px;
    font-weight: normal;
}
.grab .drop a strong::after{
    content: url(../images/nav_arrow.png);
    display: inline-block;
    margin-left: 5px;
}